<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Report.Viewer" version="11.0.0.0" targetFramework="net461" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.WebForms" version="140.1000.523" targetFramework="net461" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="140.1000.523" targetFramework="net461" />
  <package id="Microsoft.ReportViewer.WinForms" version="10.0.40219.1" targetFramework="net461" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net461" />
  <package id="odp.net.managed" version="121.1.2" targetFramework="net461" />
  <package id="Simple.Data.Ado" version="0.19.0.0" targetFramework="net461" />
  <package id="Simple.Data.Core" version="0.19.0.0" targetFramework="net461" />
  <package id="Simple.Data.Oracle.ManagedDataAccess" version="0.19.0.0" targetFramework="net461" />
</packages>